@import './mixins.scss';

.characters {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2rem;
    width: 100%;
    max-width: var(--max-width);
}

@include only-desktop() {
    .characters {
        grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
        grid-gap: 2rem;
    }
}

.loading {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notFounded {
    font-size: 1.5rem;
    color: var(--white);
    text-align: center;
}