:root {
  --black: #000;
  --white: #fff;
  --gray-100: #F2F2F2;
  --gray-200: #E6E8EA;
  --gray-300: #C0C0C0;
  --gray-400: #BDBDBD;
  --gray-500: #7A7A7A;
  --gray-700: #585858;
  --gray-900: #333;
  --red-200: #F8475F;
  --red-500: #D7182A;
  --green-300: #00be0d;
  --max-width: 1248px;
  --edge-gap: 1rem;
  --blue-800: #1B2137;
  --blue-900: #0f1320;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura.ttf") format("truetype");
}

@font-face {
  font-family: "Harry P";
  src: url("../fonts/Harry.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: url("/images/header-background.png") no-repeat top center var(--blue-800);
  font-family: 'Furuta', sans-serif;
}